body {
  margin: 50px;
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(purple, pink);
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
p {
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}
#bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 5px 0 10px 0;
}
#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}
#profile-pic {
  border: 5px solid #efb0c9;
  border-radius: 50%;
  width: 100px;
}
.gift-section {
  margin-top: 50px;
}
.gift-title {
  margin-bottom: 10px;
}
.gift-hint {
  margin-top: 0;
}
.gift-img {
  width: 300px;
  height: 300px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("image/gift-logo.jfif");
  background-size: cover;
  margin: 0 auto;
}
#gift-img-happy:hover {
  background-image: url("image/happy.webp");
}
#gift-img-hot:hover {
  background-image: url("image/hot.webp");
}
#gift-img-genius:hover {
  background-image: url("image/genius.webp");
}
#gift-img-badass:hover {
  background-image: url("image/badass.webp");
}
#gift-img-cheers {
  height: 200px;
}
#gift-img-cheers:hover {
  background-image: url("image/cheers.webp");
}
#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}
a {
  color: white;
}
